<?xml version='1.0' encoding='UTF-8'?>
<robot name="tree_33.urdf">
  <link name="branch_0">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_0_visual">
      <geometry>
        <cylinder radius="0.15409093015874206" length="8.36551786727349"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="1.3764005559221548 0.37275841213278876 3.9321806892307767" rpy="-2.6790495757737292e-17 0.3478945266505977 0.26447705255840903"/>
    </visual>
    <collision name="branch_0_collision">
      <geometry>
        <cylinder radius="0.15409093015874206" length="8.36551786727349"/>
      </geometry>
      <origin xyz="1.3764005559221548 0.37275841213278876 3.9321806892307767" rpy="-2.6790495757737292e-17 0.3478945266505977 0.26447705255840903"/>
    </collision>
  </link>
  <link name="branch_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_1_visual">
      <geometry>
        <cylinder radius="0.09445784916342005" length="3.252858855040085"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_1_collision">
      <geometry>
        <cylinder radius="0.09445784916342005" length="3.252858855040085"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_2">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_2_visual">
      <geometry>
        <cylinder radius="0.04" length="1.591936020091623"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_2_collision">
      <geometry>
        <cylinder radius="0.04" length="1.591936020091623"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_3">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_3_visual">
      <geometry>
        <cylinder radius="0.04" length="1.7314139832949715"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_3_collision">
      <geometry>
        <cylinder radius="0.04" length="1.7314139832949715"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_4">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_4_visual">
      <geometry>
        <cylinder radius="0.09121658068434968" length="4.233698763369272"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_4_collision">
      <geometry>
        <cylinder radius="0.09121658068434968" length="4.233698763369272"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_5">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_5_visual">
      <geometry>
        <cylinder radius="0.04175542005202793" length="2.248688896186528"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_5_collision">
      <geometry>
        <cylinder radius="0.04175542005202793" length="2.248688896186528"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_6">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_6_visual">
      <geometry>
        <cylinder radius="0.04" length="2.2165377178266805"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_6_collision">
      <geometry>
        <cylinder radius="0.04" length="2.2165377178266805"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_7">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_7_visual">
      <geometry>
        <cylinder radius="0.059459967648497966" length="3.972654552846414"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_7_collision">
      <geometry>
        <cylinder radius="0.059459967648497966" length="3.972654552846414"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_8">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_8_visual">
      <geometry>
        <cylinder radius="0.04" length="2.115523357438065"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_8_collision">
      <geometry>
        <cylinder radius="0.04" length="2.115523357438065"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_9">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_9_visual">
      <geometry>
        <cylinder radius="0.04" length="1.6773971599081003"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_9_collision">
      <geometry>
        <cylinder radius="0.04" length="1.6773971599081003"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_10">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_10_visual">
      <geometry>
        <cylinder radius="0.08458955144402311" length="3.2491016614625945"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_10_collision">
      <geometry>
        <cylinder radius="0.08458955144402311" length="3.2491016614625945"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_11">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_11_visual">
      <geometry>
        <cylinder radius="0.04" length="1.8114597632476017"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_11_collision">
      <geometry>
        <cylinder radius="0.04" length="1.8114597632476017"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_12">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_12_visual">
      <geometry>
        <cylinder radius="0.04" length="1.4770758654053686"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_12_collision">
      <geometry>
        <cylinder radius="0.04" length="1.4770758654053686"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="joint_0_1" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="2.7405934060197277 1.4045905917728299 4.13268238556866" rpy="1.7999132635197346 1.4268385696529646 2.466328269452261"/>
  </joint>
  <joint name="joint_0_4" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_4"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="2.060549747771317 -1.0866142881205916 0.6036842262769994" rpy="-2.187429320236202 1.2516945358485452 -2.766015004400611"/>
  </joint>
  <joint name="joint_0_7" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_7"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="3.7591029364505935 -0.6443213356836518 6.116385647291937" rpy="-2.092677478907703 1.2471762355135563 -2.7636654709408353"/>
  </joint>
  <joint name="joint_0_10" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_10"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="2.354415000735554 1.4074364541739077 7.918758505570013" rpy="0.35894032776258555 0.3723987662411702 2.2726451208173755"/>
  </joint>
  <joint name="joint_1_2" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="4.2903058954756315 2.766618622549653 4.387674880747199" rpy="0.7029034076233865 -1.057221774629258 -3.097721554734517"/>
  </joint>
  <joint name="joint_1_3" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_3"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="3.061233527529851 1.7968036248776034 3.599696123949782" rpy="2.821501130313715 0.8559253855923021 -2.7250540275675443"/>
  </joint>
  <joint name="joint_4_5" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_5"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="3.7117033704886966 -2.2736496314798385 0.8867808126248363" rpy="-0.15009451131534793 -1.1344023750486925 2.663312463496147"/>
  </joint>
  <joint name="joint_4_6" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_6"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="2.943487045479606 -1.3484519031430562 -0.1430826447137655" rpy="2.556446799257977 0.660087246934469 2.06331926972472"/>
  </joint>
  <joint name="joint_7_8" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_8"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="4.588886214386077 -1.6300080046740093 4.949203181026763" rpy="-2.904211762811268 0.22069630509200247 2.5386560695578737"/>
  </joint>
  <joint name="joint_7_9" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_9"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="3.2658488921108626 0.40326198832286353 5.622094373991738" rpy="2.5080172453314433 0.021923503429808918 2.3136025868850343"/>
  </joint>
  <joint name="joint_10_11" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_11"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="2.093984050789032 2.5181955009347514 9.14463583713954" rpy="0.586002900386052 0.864382337628753 2.694730511398134"/>
  </joint>
  <joint name="joint_10_12" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_12"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="2.399575467686054 1.828132660247106 9.774248009133954" rpy="-0.003240230993281785 0.30671042125407677 -1.6651653100764665"/>
  </joint>
  <material name="branch_material">
    <color rgba="1. 1. 1. 1."/>
  </material>
</robot>
