<?xml version='1.0' encoding='UTF-8'?>
<robot name="tree_28.urdf">
  <link name="branch_0">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_0_visual">
      <geometry>
        <cylinder radius="0.17777976997870068" length="7.999257171606546"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="-0.9539643334770709 0.9972673347375558 3.7539897093484145" rpy="0.0 0.3522912642479605 2.3340054826241623"/>
    </visual>
    <collision name="branch_0_collision">
      <geometry>
        <cylinder radius="0.17777976997870068" length="7.999257171606546"/>
      </geometry>
      <origin xyz="-0.9539643334770709 0.9972673347375558 3.7539897093484145" rpy="0.0 0.3522912642479605 2.3340054826241623"/>
    </collision>
  </link>
  <link name="branch_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_1_visual">
      <geometry>
        <cylinder radius="0.0832538893616516" length="3.6469200583797576"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_1_collision">
      <geometry>
        <cylinder radius="0.0832538893616516" length="3.6469200583797576"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_2">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_2_visual">
      <geometry>
        <cylinder radius="0.045988640024721215" length="1.171767374095947"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_2_collision">
      <geometry>
        <cylinder radius="0.045988640024721215" length="1.171767374095947"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_3">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_3_visual">
      <geometry>
        <cylinder radius="0.04" length="1.3503724682924545"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_3_collision">
      <geometry>
        <cylinder radius="0.04" length="1.3503724682924545"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_4">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_4_visual">
      <geometry>
        <cylinder radius="0.11096343301206163" length="3.4085674506243464"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_4_collision">
      <geometry>
        <cylinder radius="0.11096343301206163" length="3.4085674506243464"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_5">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_5_visual">
      <geometry>
        <cylinder radius="0.04" length="1.3131785686250392"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_5_collision">
      <geometry>
        <cylinder radius="0.04" length="1.3131785686250392"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_6">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_6_visual">
      <geometry>
        <cylinder radius="0.04034011910319262" length="1.4817450513179375"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_6_collision">
      <geometry>
        <cylinder radius="0.04034011910319262" length="1.4817450513179375"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_7">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_7_visual">
      <geometry>
        <cylinder radius="0.1098627271577066" length="3.619427394065792"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_7_collision">
      <geometry>
        <cylinder radius="0.1098627271577066" length="3.619427394065792"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_8">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_8_visual">
      <geometry>
        <cylinder radius="0.056599392298085284" length="1.1087052733412883"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_8_collision">
      <geometry>
        <cylinder radius="0.056599392298085284" length="1.1087052733412883"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_9">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_9_visual">
      <geometry>
        <cylinder radius="0.05993292266884607" length="1.4115656851740925"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_9_collision">
      <geometry>
        <cylinder radius="0.05993292266884607" length="1.4115656851740925"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_10">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_10_visual">
      <geometry>
        <cylinder radius="0.09654668911110663" length="3.3809544975713277"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_10_collision">
      <geometry>
        <cylinder radius="0.09654668911110663" length="3.3809544975713277"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_11">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_11_visual">
      <geometry>
        <cylinder radius="0.05397224152316173" length="1.086935390867041"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_11_collision">
      <geometry>
        <cylinder radius="0.05397224152316173" length="1.086935390867041"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_12">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_12_visual">
      <geometry>
        <cylinder radius="0.05106513713928237" length="1.392991194855866"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_12_collision">
      <geometry>
        <cylinder radius="0.05106513713928237" length="1.392991194855866"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="joint_0_1" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.360604680780638 1.0114128991915992 2.0820201637524094" rpy="0.16504594797580951 0.842708660661194 2.7615428992762077"/>
  </joint>
  <joint name="joint_0_4" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_4"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.2735651536194605 0.4647120650084935 5.888930014681138" rpy="0.20870727168247777 0.37758287457065887 -1.2928657595217514"/>
  </joint>
  <joint name="joint_0_7" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_7"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.099432963043395 0.5612112238926839 1.5768656488207768" rpy="-0.3706792805471605 0.6995613698707748 -0.15062587984538503"/>
  </joint>
  <joint name="joint_0_10" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_10"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.3993279315994194 2.5391363870255703 4.123349522898615" rpy="-0.6002101274011528 1.2445370078886386 1.2344081091351369"/>
  </joint>
  <joint name="joint_1_2" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.1155894914838393 0.9404928197088609 1.1884345959093254" rpy="-2.8342324337590834 1.1795294949384885 -0.41540814364125966"/>
  </joint>
  <joint name="joint_1_3" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_3"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.117681965563142 1.4426419762822964 2.628715320218146" rpy="-0.720787677657918 0.4474187736147865 -0.2628834236329815"/>
  </joint>
  <joint name="joint_4_5" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_5"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.5940830445817193 0.9841724740509741 4.772715921733283" rpy="0.6051274743828843 0.7865721465452409 0.4984030904744523"/>
  </joint>
  <joint name="joint_4_6" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_6"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.116132329491794 0.10679780967354248 4.9435576510913055" rpy="2.373101123654917 1.3695276580559772 0.8807733414953266"/>
  </joint>
  <joint name="joint_7_8" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_8"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.2958158092180068 0.6334061368958146 1.006714438339683" rpy="-3.123525615499003 0.9351478083469075 -2.7455327152498485"/>
  </joint>
  <joint name="joint_7_9" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_9"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.432838424548402 1.4412071023043427 2.1467715191526873" rpy="1.4309951315237337 0.7880967647611632 -3.0675918998986185"/>
  </joint>
  <joint name="joint_10_11" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_11"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.1076791888266073 1.2417334370424449 4.312175063131803" rpy="0.16467629837475126 0.1669877909491398 -1.2988009691156162"/>
  </joint>
  <joint name="joint_10_12" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_12"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.8598910255909832 2.3365373138353083 3.74318827561" rpy="-1.820210912424423 0.546871204232535 -0.5826369434395765"/>
  </joint>
  <material name="branch_material">
    <color rgba="1. 1. 1. 1."/>
  </material>
</robot>
