<?xml version='1.0' encoding='UTF-8'?>
<robot name="tree_97.urdf">
  <link name="branch_0">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_0_visual">
      <geometry>
        <cylinder radius="0.15929315864754007" length="7.032128458210445"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.7958837458386802 1.5382902398425784 3.059892132789676" rpy="-5.551115123125783e-17 0.5150652335462869 1.0933399775088548"/>
    </visual>
    <collision name="branch_0_collision">
      <geometry>
        <cylinder radius="0.15929315864754007" length="7.032128458210445"/>
      </geometry>
      <origin xyz="0.7958837458386802 1.5382902398425784 3.059892132789676" rpy="-5.551115123125783e-17 0.5150652335462869 1.0933399775088548"/>
    </collision>
  </link>
  <link name="branch_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_1_visual">
      <geometry>
        <cylinder radius="0.06521507874470715" length="4.082055675446581"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_1_collision">
      <geometry>
        <cylinder radius="0.06521507874470715" length="4.082055675446581"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_2">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_2_visual">
      <geometry>
        <cylinder radius="0.04" length="1.4984719040677452"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_2_collision">
      <geometry>
        <cylinder radius="0.04" length="1.4984719040677452"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_3">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_3_visual">
      <geometry>
        <cylinder radius="0.04" length="2.4469674733296616"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_3_collision">
      <geometry>
        <cylinder radius="0.04" length="2.4469674733296616"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_4">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_4_visual">
      <geometry>
        <cylinder radius="0.10067514722196531" length="3.2614700926198448"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_4_collision">
      <geometry>
        <cylinder radius="0.10067514722196531" length="3.2614700926198448"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_5">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_5_visual">
      <geometry>
        <cylinder radius="0.05463700348586315" length="1.5407596569109805"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_5_collision">
      <geometry>
        <cylinder radius="0.05463700348586315" length="1.5407596569109805"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_6">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_6_visual">
      <geometry>
        <cylinder radius="0.04" length="1.8180772436997412"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_6_collision">
      <geometry>
        <cylinder radius="0.04" length="1.8180772436997412"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_7">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_7_visual">
      <geometry>
        <cylinder radius="0.08255298160052528" length="2.764074378058056"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_7_collision">
      <geometry>
        <cylinder radius="0.08255298160052528" length="2.764074378058056"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_8">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_8_visual">
      <geometry>
        <cylinder radius="0.043853856726730964" length="0.8713394777511284"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_8_collision">
      <geometry>
        <cylinder radius="0.043853856726730964" length="0.8713394777511284"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_9">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_9_visual">
      <geometry>
        <cylinder radius="0.04" length="0.9467213427917036"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_9_collision">
      <geometry>
        <cylinder radius="0.04" length="0.9467213427917036"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_10">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_10_visual">
      <geometry>
        <cylinder radius="0.08933208996579887" length="3.514099401416668"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_10_collision">
      <geometry>
        <cylinder radius="0.08933208996579887" length="3.514099401416668"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_11">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_11_visual">
      <geometry>
        <cylinder radius="0.05499491829695203" length="1.2216104583868665"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_11_collision">
      <geometry>
        <cylinder radius="0.05499491829695203" length="1.2216104583868665"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_12">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_12_visual">
      <geometry>
        <cylinder radius="0.04" length="1.69389222108971"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_12_collision">
      <geometry>
        <cylinder radius="0.04" length="1.69389222108971"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="joint_0_1" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.2477026044351291 4.118162589345823 4.884526784005714" rpy="0.7385813608628394 1.1776278143053018 2.2837503265111674"/>
  </joint>
  <joint name="joint_0_4" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_4"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.19428336611588007 1.517990716694895 2.17625318085391" rpy="0.5941993557558447 0.4958873981111441 2.9440136060136406"/>
  </joint>
  <joint name="joint_0_7" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_7"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.2168419935757677 2.8569050635832576 6.956966280506668" rpy="0.15004710839051782 0.09336072716162164 -2.303302948393418"/>
  </joint>
  <joint name="joint_0_10" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_10"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.024731430432120397 0.05086413531143914 3.1314680797278904" rpy="0.0005292709291078484 0.500745651073216 -2.048818843411179"/>
  </joint>
  <joint name="joint_1_2" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.9469034683018875 4.833877581507443 4.932310186333209" rpy="-1.6697440921902442 0.3689925370607605 -1.161666583660024"/>
  </joint>
  <joint name="joint_1_3" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_3"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="2.4561782771244864 4.479837832349581 5.260479566216956" rpy="-1.3277601477035912 0.24980851256659625 -1.4629898087613913"/>
  </joint>
  <joint name="joint_4_5" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_5"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.24969712939173241 1.0350872810138716 0.7550750865810751" rpy="2.495114556766309 1.167105530063985 -1.4993061713010902"/>
  </joint>
  <joint name="joint_4_6" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_6"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.4293944438285355 2.2900042950507764 4.112089950598298" rpy="-0.09093129964719171 0.21541783778330295 -1.0793780417283125"/>
  </joint>
  <joint name="joint_7_8" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_8"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.4596352595323934 2.983024536976374 7.150411433815605" rpy="-0.12013411055118393 0.6045059356407558 0.3404675100699619"/>
  </joint>
  <joint name="joint_7_9" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_9"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.2366643893891933 3.14804919352059 8.417285625052012" rpy="-0.19429003247374138 0.7678114115612308 0.5889362889091867"/>
  </joint>
  <joint name="joint_10_11" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_11"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.1362757415031311 -0.24156006776432837 3.0817441689763303" rpy="-0.024397585382799215 1.045615303221784 -2.093384542805862"/>
  </joint>
  <joint name="joint_10_12" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_12"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.22236318400871743 0.11375509539939815 3.7030759321038564" rpy="-0.36536944982048514 0.050840854888386425 1.844792162280872"/>
  </joint>
  <material name="branch_material">
    <color rgba="1. 1. 1. 1."/>
  </material>
</robot>
