<?xml version='1.0' encoding='UTF-8'?>
<robot name="tree_49.urdf">
  <link name="branch_0">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_0_visual">
      <geometry>
        <cylinder radius="0.1637440144659433" length="6.643460676428826"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="-1.4723463724562638 0.3805532168568544 2.953179278077919" rpy="1.3436237250165448e-17 0.4755337928551887 2.8886608914107836"/>
    </visual>
    <collision name="branch_0_collision">
      <geometry>
        <cylinder radius="0.1637440144659433" length="6.643460676428826"/>
      </geometry>
      <origin xyz="-1.4723463724562638 0.3805532168568544 2.953179278077919" rpy="1.3436237250165448e-17 0.4755337928551887 2.8886608914107836"/>
    </collision>
  </link>
  <link name="branch_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_1_visual">
      <geometry>
        <cylinder radius="0.10263061136371326" length="3.9324557390740553"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_1_collision">
      <geometry>
        <cylinder radius="0.10263061136371326" length="3.9324557390740553"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_2">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_2_visual">
      <geometry>
        <cylinder radius="0.043190678015197666" length="2.202847616451627"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_2_collision">
      <geometry>
        <cylinder radius="0.043190678015197666" length="2.202847616451627"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_3">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_3_visual">
      <geometry>
        <cylinder radius="0.06457590668028185" length="1.8025794287980341"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_3_collision">
      <geometry>
        <cylinder radius="0.06457590668028185" length="1.8025794287980341"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_4">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_4_visual">
      <geometry>
        <cylinder radius="0.07927548563264548" length="3.0767374005647756"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_4_collision">
      <geometry>
        <cylinder radius="0.07927548563264548" length="3.0767374005647756"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_5">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_5_visual">
      <geometry>
        <cylinder radius="0.04" length="1.3314513870465605"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_5_collision">
      <geometry>
        <cylinder radius="0.04" length="1.3314513870465605"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_6">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_6_visual">
      <geometry>
        <cylinder radius="0.044527809709081836" length="1.1744074344533526"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_6_collision">
      <geometry>
        <cylinder radius="0.044527809709081836" length="1.1744074344533526"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_7">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_7_visual">
      <geometry>
        <cylinder radius="0.0945982399249824" length="2.7217569721756734"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_7_collision">
      <geometry>
        <cylinder radius="0.0945982399249824" length="2.7217569721756734"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_8">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_8_visual">
      <geometry>
        <cylinder radius="0.04" length="1.1164643276028172"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_8_collision">
      <geometry>
        <cylinder radius="0.04" length="1.1164643276028172"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_9">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_9_visual">
      <geometry>
        <cylinder radius="0.061280812417686084" length="0.8593651239025624"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_9_collision">
      <geometry>
        <cylinder radius="0.061280812417686084" length="0.8593651239025624"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_10">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_10_visual">
      <geometry>
        <cylinder radius="0.060548353761711325" length="3.6860016789976218"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_10_collision">
      <geometry>
        <cylinder radius="0.060548353761711325" length="3.6860016789976218"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_11">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_11_visual">
      <geometry>
        <cylinder radius="0.04" length="1.2206000455615225"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_11_collision">
      <geometry>
        <cylinder radius="0.04" length="1.2206000455615225"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_12">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_12_visual">
      <geometry>
        <cylinder radius="0.04" length="2.1949663446190337"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_12_collision">
      <geometry>
        <cylinder radius="0.04" length="2.1949663446190337"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="joint_0_1" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.5203218442030264 0.4010617313376429 1.285403936697946" rpy="-0.37302115028861105 1.056887061858558 -0.21994471994118017"/>
  </joint>
  <joint name="joint_0_4" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_4"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-2.9889127932040105 -0.5704286022851434 3.999154725183751" rpy="1.2612722710870568 1.1213064183292072 -1.0830306976279553"/>
  </joint>
  <joint name="joint_0_7" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_7"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.0625981990000384 0.01767731099689545 3.484228031140442" rpy="0.1595902599716275 0.10667116363251687 -0.5517799843097301"/>
  </joint>
  <joint name="joint_0_10" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_10"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.8400485194705758 1.2867426901042471 2.2498973988544635" rpy="-0.5715989842666945 0.9546155394460843 1.7118385825646976"/>
  </joint>
  <joint name="joint_1_2" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.7665412620339276 1.2813962938274364 1.0489899896691377" rpy="1.332668868367673 0.4179852153954766 2.905598466875544"/>
  </joint>
  <joint name="joint_1_3" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_3"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="2.1898861713991273 0.9828380010219693 0.9865763823012754" rpy="2.1879260686591224 0.8933869511968394 2.823099421949232"/>
  </joint>
  <joint name="joint_4_5" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_5"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-3.163091646615709 -1.246863423184822 3.9404055014708033" rpy="1.6747035710311788 0.36774690217668704 -0.18093369546866425"/>
  </joint>
  <joint name="joint_4_6" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_6"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-2.464403788541736 -0.07874819780097182 3.3412173091727815" rpy="3.120088235952514 0.45419340328578567 0.7613554807390933"/>
  </joint>
  <joint name="joint_7_8" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_8"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.1843284075887488 -0.18731734265429067 3.7206156993896387" rpy="-0.1410314747009282 0.5077220656444137 -2.2986055345198073"/>
  </joint>
  <joint name="joint_7_9" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_9"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.9133100959953286 0.2818603210178854 3.803563069867877" rpy="0.12108592412002676 0.7868176436689238 1.2325970009608878"/>
  </joint>
  <joint name="joint_10_11" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_11"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-2.4507853433101987 1.1518609661868322 2.4652127511277766" rpy="1.258753078122753 0.40860383331454003 -1.3701036396443036"/>
  </joint>
  <joint name="joint_10_12" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_12"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-2.4537162377700166 1.4413196786563318 2.033949540563554" rpy="1.4567202509504422 1.0513056743964406 -2.143480006183082"/>
  </joint>
  <material name="branch_material">
    <color rgba="1. 1. 1. 1."/>
  </material>
</robot>
