<?xml version='1.0' encoding='UTF-8'?>
<robot name="tree_9.urdf">
  <link name="branch_0">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_0_visual">
      <geometry>
        <cylinder radius="0.19385878026234327" length="9.133918236672503"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="-0.5766613926174714 1.410259346540759 4.305315993317278" rpy="2.7755575615628914e-17 0.3401352465072156 1.9589553493680683"/>
    </visual>
    <collision name="branch_0_collision">
      <geometry>
        <cylinder radius="0.19385878026234327" length="9.133918236672503"/>
      </geometry>
      <origin xyz="-0.5766613926174714 1.410259346540759 4.305315993317278" rpy="2.7755575615628914e-17 0.3401352465072156 1.9589553493680683"/>
    </collision>
  </link>
  <link name="branch_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_1_visual">
      <geometry>
        <cylinder radius="0.07525955007350686" length="2.837850790789135"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_1_collision">
      <geometry>
        <cylinder radius="0.07525955007350686" length="2.837850790789135"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_2">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_2_visual">
      <geometry>
        <cylinder radius="0.04" length="1.692795126400549"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_2_collision">
      <geometry>
        <cylinder radius="0.04" length="1.692795126400549"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_3">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_3_visual">
      <geometry>
        <cylinder radius="0.04" length="1.5956546809076946"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_3_collision">
      <geometry>
        <cylinder radius="0.04" length="1.5956546809076946"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_4">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_4_visual">
      <geometry>
        <cylinder radius="0.07583451953367264" length="4.2021181421714076"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_4_collision">
      <geometry>
        <cylinder radius="0.07583451953367264" length="4.2021181421714076"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_5">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_5_visual">
      <geometry>
        <cylinder radius="0.04" length="1.5440066617249002"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_5_collision">
      <geometry>
        <cylinder radius="0.04" length="1.5440066617249002"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_6">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_6_visual">
      <geometry>
        <cylinder radius="0.04296347624358877" length="1.6169363857460637"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_6_collision">
      <geometry>
        <cylinder radius="0.04296347624358877" length="1.6169363857460637"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_7">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_7_visual">
      <geometry>
        <cylinder radius="0.10724747286127984" length="5.064587388867272"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_7_collision">
      <geometry>
        <cylinder radius="0.10724747286127984" length="5.064587388867272"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_8">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_8_visual">
      <geometry>
        <cylinder radius="0.05522147723128769" length="2.847699183257607"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_8_collision">
      <geometry>
        <cylinder radius="0.05522147723128769" length="2.847699183257607"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_9">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_9_visual">
      <geometry>
        <cylinder radius="0.04087821483717728" length="2.2208414589701357"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_9_collision">
      <geometry>
        <cylinder radius="0.04087821483717728" length="2.2208414589701357"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_10">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_10_visual">
      <geometry>
        <cylinder radius="0.11045870326277532" length="2.9945755448219464"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_10_collision">
      <geometry>
        <cylinder radius="0.11045870326277532" length="2.9945755448219464"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_11">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_11_visual">
      <geometry>
        <cylinder radius="0.060747804845978685" length="1.6376807029658649"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_11_collision">
      <geometry>
        <cylinder radius="0.060747804845978685" length="1.6376807029658649"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_12">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="branch_12_visual">
      <geometry>
        <cylinder radius="0.056065340103625454" length="1.050942791009576"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_12_collision">
      <geometry>
        <cylinder radius="0.056065340103625454" length="1.050942791009576"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="joint_0_1" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.5379062929523131 0.46917098057632906 4.39632544137233" rpy="0.12527349691268103 0.3848056733060484 -1.4711349624275967"/>
  </joint>
  <joint name="joint_0_4" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_4"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.0167561651511887 -1.1678669364869525 2.7359298457234877" rpy="0.5777710611806377 1.1549856814744806 -1.3382206405795323"/>
  </joint>
  <joint name="joint_0_7" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_7"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.03379245337535417 -0.22662687912666304 4.43402295287738" rpy="0.025198421497667885 0.38016302545030217 -1.2394651830697072"/>
  </joint>
  <joint name="joint_0_10" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_10"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-2.061237148926577 2.879946768899252 6.639130658254934" rpy="0.7617822803725351 1.266162572202018 -2.9450093340613654"/>
  </joint>
  <joint name="joint_1_2" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.1372938823382328 1.018716697864281 3.5633901030072006" rpy="-0.6421822072314421 0.8570545433653582 2.3367847041427465"/>
  </joint>
  <joint name="joint_1_3" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_3"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.16477125617818975 0.5514193489647161 4.198944179328081" rpy="0.42026910465865314 0.3412457319007964 0.1485658505825417"/>
  </joint>
  <joint name="joint_4_5" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_5"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.8028635085904925 -1.4060142406365352 2.474157565595887" rpy="-2.107491045297189 0.4180874295652694 1.3092639749379542"/>
  </joint>
  <joint name="joint_4_6" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_6"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.4418003037689702 -1.5799610931520554 2.9953724170269167" rpy="-1.1638005523251713 -0.11886816952424734 2.3775971920073835"/>
  </joint>
  <joint name="joint_7_8" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_8"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.7905204449101462 -1.1430949798472185 7.271418452061053" rpy="-0.43654415571453486 0.6301594587979606 2.703256616608755"/>
  </joint>
  <joint name="joint_7_9" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_9"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.09979810472761971 0.23126594605111878 4.283575932782577" rpy="0.05519287355860137 -0.03302574759019349 1.6941784606326784"/>
  </joint>
  <joint name="joint_10_11" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_11"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.7729742648398958 3.0698914436744196 6.11306027442393" rpy="-2.240390234776936 0.8185052219197714 0.014714832779141094"/>
  </joint>
  <joint name="joint_10_12" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_12"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.7490011914281028 2.488732191723913 6.006173405674517" rpy="-2.2458533466471535 0.27185016949796575 -0.5215861462161956"/>
  </joint>
  <material name="branch_material">
    <color rgba="1. 1. 1. 1."/>
  </material>
</robot>
