<?xml version="1.0"?>
<robot name="ball">
  <link name="ball_body">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.205"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.07"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.07"/>
      </geometry>
    </collision>
  </link>
</robot>

