<?xml version="1.0"?>
<robot name="industreal_rectangular_peg_8mm">
    <link name="industreal_rectangular_peg_8mm">
        <visual>
            <geometry>
                <mesh filename="../mesh/industreal_pegs/industreal_rectangular_peg_8mm.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/industreal_pegs/industreal_rectangular_peg_8mm.obj"/>
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>
