<?xml version="1.0"?>
<robot name="00021_plug">
	<link name="00021_plug">
		<visual>
			<geometry>
				<mesh filename="../mesh/00021/asset_plug.obj"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="../mesh/00021/asset_plug.obj"/>
			</geometry>
			<sdf resolution="256"/>
		</collision>
	</link>
</robot>
