<?xml version="1.0"?>
<robot name="00083_socket">
	<link name="00083_socket">
		<visual>
			<geometry>
				<mesh filename="../mesh/00083/asset_socket.obj"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="../mesh/00083/asset_socket.obj"/>
			</geometry>
			<sdf resolution="256"/>
		</collision>
	</link>
</robot>
