<?xml version="1.0"?>
<robot name="00768_plug">
	<link name="00768_plug">
		<visual>
			<geometry>
				<mesh filename="../mesh/00768/asset_plug.obj"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="../mesh/00768/asset_plug.obj"/>
			</geometry>
			<sdf resolution="256"/>
		</collision>
	</link>
</robot>
