<?xml version="1.0"?>
<robot name="00860_socket">
	<link name="00860_socket">
		<visual>
			<geometry>
				<mesh filename="../mesh/00860/asset_socket.obj"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="../mesh/00860/asset_socket.obj"/>
			</geometry>
			<sdf resolution="256"/>
		</collision>
	</link>
</robot>
