<?xml version="1.0"?>
<robot name="01029_socket">
	<link name="01029_socket">
		<visual>
			<geometry>
				<mesh filename="../mesh/01029/asset_socket.obj"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="../mesh/01029/asset_socket.obj"/>
			</geometry>
			<sdf resolution="256"/>
		</collision>
	</link>
</robot>
