<?xml version="1.0"?>
<robot name="01079_plug">
	<link name="01079_plug">
		<visual>
			<geometry>
				<mesh filename="../mesh/01079/asset_plug.obj"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="../mesh/01079/asset_plug.obj"/>
			</geometry>
			<sdf resolution="256"/>
		</collision>
	</link>
</robot>
