<?xml version="1.0"?>
<robot name="bucket">
  <link name="bucket">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/bucket.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/bucket.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <density value="567.0"/>
    </inertial>
  </link>
</robot>
