<robot name="ball">
	<link name="ball">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="sphere.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="sphere.obj"/>
			</geometry>
            <sdf resolution="256"/>
		</collision>
		<inertial>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <mass value="0.025"/>
            <inertia ixx="1.14764e-7" iyy="8.89985e-8" izz="1.14738e-7" ixy="0.0" ixz="-4.72875e-14" iyz="0.0"/>
		</inertial>
	</link>
</robot>
