<?xml version="1.0"?>
<robot name="puck">
  <link name="puck">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.06" length="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.05" iyz="0.0" izz="0.05"/>
    </inertial>
  </link>
</robot>
